@import "_reset.scss";
@import "_breakpoints.scss";

:root {
  --color-blue: #0d79f2;

  --bg-primary: #0d79f2;
  --bg-secondary: #feddc1;
  --bg-secondary-light: #fef3ea;
  --bg-body: var(--bg-secondary);

  --fg-primary: #feddc1;

  --text-primary: #feddc1;
  --text-secondary: #0d79f2;
  --text-body: #041a33;
  --text-body-light: #837e7b;

  --font-size-sm: 0.9rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.125rem;

  --max-text-width: 40rem;

  --spacing-1: 0.25rem;
  --spacing-2: 0.5rem;
  --spacing-3: 0.75rem;
  --spacing-4: 1rem;
  --spacing-5: 1.25rem;
  --spacing-6: 1.5rem;
  --spacing-7: 1.75rem;
  --spacing-8: 2rem;

  --fluid-spacing-4: clamp(0.5rem, 2vw, 1rem);
  --fluid-spacing-8: clamp(1rem, 4.5vw, 2rem);
  --fluid-spacing-12: clamp(1.5rem, 6vw, 4rem);

  --container-sm: #{$breakpoint-sm};
  --container-md: #{$breakpoint-md};

  --fluid-container-sm: clamp(
    #{$breakpoint-sm},
    calc(#{$breakpoint-sm * 0.93} + 7vw),
    #{$breakpoint-sm * 2}
  );

  /**
   * Theme
   */

  --body-bg-color: #feddc1;
  --body-text-color: #041a33;

  --header-bg-color: #0d79f2;
  --header-text-color: #fee8d5;

  --footer-bg-color: #ffe7d3;
  --footer-text-color: #404d5d;

  --button-primary-bg-color: #0d79f2;
  --button-primary-text-color: #fee8d5;
  --button-secondary-bg-color: #fef3ea;
  --button-secondary-text-color: var(--body-text-color);
}

body {
  background-color: var(--body-bg-color);
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  color: var(--text-body);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-bottom: 1rem;
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.5rem;
}

a {
  color: var(--text-secondary);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

.rich-text p:last-child {
  margin-bottom: 0;
}

hr {
  width: 4rem;
  height: 3px;
  border-radius: 3px;
  margin: var(--spacing-8) 0;
  border: 0;
  background-color: var(--bg-primary);
}

// Hide custom element (shoelace elements) until
// they have been loaded
:not(:defined) {
  visibility: hidden;
}

.hidden {
  display: none;
}

@media screen and (min-width: $breakpoint-sm) {
  .sm\:hidden {
    display: none;
  }
  .sm\:block {
    display: block;
  }
}
@media screen and (min-width: $breakpoint-md) {
  .md\:hidden {
    display: none;
  }
  .md\:block {
    display: block;
  }
}
